*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: #4C3D89;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-título{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola{
    background-color: #2B1C64;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-título{
    padding: 24px 0;
}

.imagem-programação{
    width: 420px;
}

.seção{
    background-color: #2B1C64;
    color: white;
    padding: 24px 0;
}

.seção-div-cabeçalho{
    text-align: center;
    width: 84%;
}


